<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="admin_head">
    <!-- Title Meta -->
    <meta charset="utf-8"/>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template"/>

    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/logo/logo.png}">

    <!-- Vendor css (Require in all Page) -->
    <link th:href="@{/assets/css/vendor.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Icons css (Require in all Page) -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css"/>

    <!-- App css (Require in all Page) -->
    <link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Theme Config js (Require in all Page) -->
    <script th:src="@{/assets/js/vendor/config.js}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<div th:fragment="admin_nav" class="main-nav">
    <!-- Sidebar Logo -->
    <div class="logo-box">
        <a th:href="@{/admin}" class="logo-dark">
            <img th:src="@{/assets/img/logo/footer-logo2.png}" style="margin-left: 20px" class="logo-sm" alt="logo sm">
            <img th:src="@{/assets/img/logo/footer-logo2.png}" style="margin: 20px 45px;" alt="logo dark">
        </a>

        <a th:href="@{/admin}" class="logo-light">
            <img th:src="@{/assets/img/logo/footer-logo2.png}" style="margin-left: 20px" class="logo-sm" alt="logo sm">
            <img th:src="@{/assets/img/logo/footer-logo2.png}" style="margin: 20px 45px;" alt="logo light">
        </a>
    </div>

    <!-- Menu Toggle Button (sm-hover) -->
    <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
        <iconify-icon icon="solar:double-alt-arrow-right-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
    </button>

    <div class="scrollbar" data-simplebar>
        <ul class="navbar-nav" id="navbar-nav">

            <li class="menu-title">General</li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Dashboard </span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/category/list}">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:clipboard-list-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Category </span>
                </a>
                <div class="collapse" style="display: none" id="sidebarCategory">
                    <ul class="nav sub-navbar-nav">
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/category/list}">List</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/category/edit}">Edit</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/category/add}">Create</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/product/list}">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:t-shirt-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Products </span>
                </a>
                <div class="collapse" style="display: none" id="sidebarProducts">
                    <ul class="nav sub-navbar-nav">
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/product/list}">List</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/product/grid}">Grid</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/product/details}">Details</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/product/edit}">Edit</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/product/add}">Create</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/order/list}">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:bag-smile-bold-duotone"></iconify-icon>
                                   </span>
                    <span class="nav-text"> Orders </span>
                </a>
                <div class="collapse" style="display: none" id="sidebarOrders">
                    <ul class="nav sub-navbar-nav">

                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/order/list}">List</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/order/details}">Details</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/order/cart}">Cart</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/order/checkout}">Check Out</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/customer/list}" >
                                 <span class="nav-icon">
                                      <iconify-icon icon="solar:users-group-two-rounded-bold-duotone"></iconify-icon>
                                 </span>
                    <span class="nav-text"> Customers </span>
                </a>
                <div class="collapse" style="display: none" id="sidebarCustomers">
                    <ul class="nav sub-navbar-nav">

                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/customer/list}">List</a>
                        </li>
                        <li class="sub-nav-item">
                            <a class="sub-nav-link" th:href="@{/admin/customer/details}">Details</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<header th:fragment="topbar" class="topbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="d-flex align-items-center">
                <!-- Menu Toggle Button -->
                <div class="topbar-item">
                    <button type="button" class="button-toggle-menu me-2">
                        <iconify-icon icon="solar:hamburger-menu-broken" class="fs-24 align-middle"></iconify-icon>
                    </button>
                </div>

                <!-- Menu Toggle Button -->
                <div class="topbar-item">
                    <h4 class="fw-bold topbar-button pe-none text-uppercase mb-0" th:text="${pageTitle}"></h4>
                </div>
            </div>

            <div class="d-flex align-items-center gap-1">
                <!-- Theme Color (Light/Dark) -->
                <div class="topbar-item">
                    <button type="button" class="topbar-button" id="light-dark-mode">
                        <iconify-icon icon="solar:moon-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                    </button>
                </div>
                <!-- User -->
                <div class="dropdown topbar-item">
                    <a type="button" class="topbar-button" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                                        <span class="d-flex align-items-center">
                                             <img class="rounded-circle" width="32"
                                                  th:src="@{/assets/images/users/avatar-1.jpg}" alt="avatar-3">
                                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" th:href="@{/admin/profile}">
                            <i class="bx bx-user-circle text-muted fs-18 align-middle me-1"></i><span
                                class="align-middle">Profile</span>
                        </a>

                        <a class="dropdown-item text-danger" th:href="@{/logout}">
                            <i class="bx bx-log-out fs-18 align-middle me-1"></i><span
                                class="align-middle" >Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div th:fragment="required_script">
    <script th:src="@{/assets/js/vendor/vendor.js}" ></script>
    <script th:src="@{/assets/js/vendor/app.js}" ></script>
    <script th:src="@{/assets/js/vendor/pages/dashboard.js}" ></script>
    <script th:src="@{/assets/vendor/jsvectormap/js/jsvectormap.min.js}" ></script>
    <script th:src="@{/assets/vendor/jsvectormap/maps/world-merc.js}" ></script>
    <script th:src="@{/assets/vendor/jsvectormap/maps/world.js}" ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!--    Toastify script-->
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const message = /*[[${message}]]*/ '';
            if (message) {
                Toastify({
                    text: message,
                    duration: 3000, // 3 seconds
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                }).showToast();
            }

            const error = /*[[${error}]]*/ '';
            if (error) {
                Toastify({
                    text: error,
                    duration: 3000, // 3 seconds
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    backgroundColor: "linear-gradient(to right, #ff4d4d, #ff6666)",
                }).showToast();
            }
        });
    </script>
</div>
