<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>

<body>
    <div class="wrapper">
        <header class="header-sticky" th:replace="~{layout::page_header}"></header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(assets/img/bg-image/hop-brech-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-wrap text-center">
                    <h3>Forgot Password</h3>
                    <ol class="breadcrumb breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active">Forgot Password</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Forgot Password Start Here -->
        <div class="Lost-pass white-bg ptb-80">
            <div class="container">
                <div class="register-title">
                    <h3 class="login-header">Register Account</h3>
                </div>
                <form class="password-forgot clearfix" action="https://preview.hasthemes.com/hopsop-v4/mail.php">
                    <fieldset>
                        <legend>Your Personal Details</legend>
                        <div class="form-group row">
                            <label class="control-label col-md-2" for="email"><span class="require">*</span>Enter you email address here...</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter you email address here...">
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons newsletter-input">
                        <div class="float-left float-sm-left">
                            <a class="customer-btn mr-20" href="login.html">Back</a>
                        </div>
                        <div class="float-right float-sm-right">
                            <input type="submit" value="Continue" class="return-customer-btn">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Container End -->
        </div>
        <!-- Forgot Password End Here -->
        <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="assets/js/jquery.scrollUp.js"></script>
    <!-- Fancybox js -->
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="assets/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from preview.hasthemes.com/hopsop-v4/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Oct 2024 15:28:50 GMT -->
</html>