<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin_layout::admin_head}"></head>
<body>
<div class="d-flex justify-content-center">
     <a th:href="@{add}" class="btn btn-sm btn-primary">
          Add Category
     </a>
</div>
<div class="table-responsive">
     <table class="table align-middle mb-0 table-hover table-centered">
          <thead class="bg-light-subtle">
          <tr>
               <th>Categories</th>
               <th>ID</th>
               <th>Status</th>
               <th>Action</th>
          </tr>
          </thead>
          <tbody>

          <tr th:each="category, stat : ${categories}">
               <td th:text="${category.categoryname}"></td>
               <td th:text="${category.ID}"></td>
               <td th:text="${category.status}"></td>
               <td>
                    <div class="d-flex gap-2">
                         <form th:action="@{/admin/category/edit}" method="post" th:object="${categorySent}" >
                              <input type="hidden" name="id" th:value="${category.ID}">
                              <button type="submit" class="btn btn-soft-primary btn-sm">
                                   Edit
                              </button>
                         </form>
                         <!--deletebutton-->
                         <a th:href="@{/admin/category/delete/{id}(id=${category.ID})}"
                            class="btn btn-soft-danger btn-sm">
                              delete
                         </a>
                    </div>
               </td>
          </tr>
          </tbody>
     </table>
</div>
</body>
</html>