<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin_layout::admin_head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{admin_layout::topbar}"></header>
    <div th:replace="~{admin_layout::admin_nav}"></div>

    <div class="page-content">
        <div class="container-xxl">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center gap-1">
                            <h4 class="card-title flex-grow-1">All Categories List</h4>

                            <a th:href="@{add}" class="btn btn-sm btn-primary">
                                Add Category
                            </a>

                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table align-middle mb-0 table-hover table-centered">
                                    <colgroup>
                                        <col style="width:20%">
                                        <col style="width:20%">
                                        <col style="width:30%">
                                        <col style="width:10%">
                                        <col style="width:20%">
                                    </colgroup>
                                    <thead class="bg-light-subtle">
                                    <tr>
                                        <th class="text-left">Name</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-left">Description</th>
                                        <th class="text-right">Quantity</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="categoryDTO : ${categories}">
                                        <a th:href="@{/admin/category/edit(id=${categoryDTO.category.getId})}"
                                           class="text-decoration-none">
                                            <td class="text-left" th:text="${categoryDTO.category.categoryName}"></td>
                                            <td class="text-center">
                                            <span class="badge p-1 fs-12 me-1"
                                                  th:classappend="${categoryDTO.category.status} == 'Active' ? 'text-success bg-success-subtle' : 'text-danger bg-danger-subtle'"
                                                  th:text="${categoryDTO.category.status}"
                                            ></span>
                                            </td>
                                            <td class="text-left" th:text="${categoryDTO.category.description}"></td>
                                            <td class="text-center" th:text="${categoryDTO.productCount}"></td>
                                            <td>
                                                <div class="d-flex gap-2 justify-content-center">
                                                    <!-- Edit Button -->
                                                    <a th:href="@{/admin/category/edit(id=${categoryDTO.category.id})}"
                                                       class="btn btn-soft-primary btn-sm">
                                                        <iconify-icon icon="solar:pen-2-broken"
                                                                      class="align-middle fs-18"></iconify-icon>
                                                    </a>

                                                    <!-- Status Change Button -->
                                                    <a th:class="${categoryDTO.category.status.equals('Active') ? 'btn btn-soft-danger btn-sm' : 'btn btn-soft-green btn-sm'}"
                                                       th:attr="data-bs-target='#statusChangeModal-' + ${categoryDTO.category.id}"
                                                       data-bs-toggle="modal">
                                                        <iconify-icon
                                                                th:attr="icon=${categoryDTO.category.status.equals('Active') ? 'solar:close-circle-broken' : 'solar:check-circle-broken'}"
                                                                class="align-middle fs-18"></iconify-icon>
                                                    </a>

                                                    <!-- Change Status Confirmation Modal -->
                                                    <div class="modal fade"
                                                         th:id="'statusChangeModal-' + ${categoryDTO.category.id}"
                                                         tabindex="-1"
                                                         th:attr="aria-labelledby='statusChangeModalLabel-' + ${categoryDTO.category.id}"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 th:id="'statusChangeModalLabel-' + ${categoryDTO.category.id}"
                                                                        class="modal-title">
                                                                        Confirm
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <!-- Conditional Modal Content -->
                                                                    <p th:text="${categoryDTO.category.status.equals('Active')
                                                                                 ? 'Change to Inactive?'
                                                                                 : 'Change to Active?'}"></p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-soft-primary"
                                                                            data-bs-dismiss="modal">Cancel
                                                                    </button>
                                                                    <!-- Conditional Button Text and Link -->
                                                                    <a th:href="@{/admin/category/status/change(id=${categoryDTO.category.id})}"
                                                                       id="confirmStatusChangeButton"
                                                                       class="btn btn-primary">
                                                                        Yes
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </a>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                        <div class="card-footer border-top">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end mb-0">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
<!--                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>-->
<!--                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>-->
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="admin_layout::required_script"></div>

</div>
</body>
</html>