<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin_layout::admin_head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{admin_layout::topbar}"></header>
    <div th:replace="~{admin_layout::admin_nav}"></div>

    <div class="page-content">
        <div class="container-xxl">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center gap-1">
                            <h4 class="card-title flex-grow-1">All Categories List</h4>

                            <a th:href="@{add}" class="btn btn-sm btn-primary">
                                Add Category
                            </a>

                        </div>
                        <div>
                            <div class="table-responsive">
                                <table class="table align-middle mb-0 table-hover table-centered">
                                    <colgroup>
                                        <col style="width:20%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:40%">
                                        <col style="width:20%">
                                    </colgroup>
                                    <thead class="bg-light-subtle">
                                    <tr>
                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>Status</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category, stat : ${categories}">
                                        <td th:text="${category.categoryName}"></td>
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.status}"></td>
                                        <td th:text="${category.description}"></td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <!-- Edit Button -->
                                                <a th:href="@{/admin/category/edit(id=${category.id})}"
                                                   class="btn btn-soft-dark btn-sm">
                                                    <iconify-icon icon="solar:pen-2-broken"
                                                                  class="align-middle fs-18"></iconify-icon>
                                                </a>

                                                <!-- Status Change Button -->
                                                <a th:class="${category.getStatus().equals('Active') ? 'btn btn-soft-danger btn-sm' : 'btn btn-soft-green btn-sm'}"
                                                   th:attr="data-bs-target='#statusChangeModal-' + ${category.id}"
                                                   data-bs-toggle="modal">
                                                    <iconify-icon
                                                            th:attr="icon=${category.getStatus().equals('Active') ? 'solar:close-circle-broken' : 'solar:check-circle-broken'}"
                                                            class="align-middle fs-18"></iconify-icon>
                                                </a>

                                                <!-- Change Status Confirmation Modal -->
                                                <div class="modal fade" th:id="'statusChangeModal-' + ${category.id}"
                                                     tabindex="-1"
                                                     th:attr="aria-labelledby='statusChangeModalLabel-' + ${category.id}"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 th:id="'statusChangeModalLabel-' + ${category.id}"
                                                                    class="modal-title">
                                                                    Confirm Status Change
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <!-- Conditional Modal Content -->
                                                                <p th:text="${category.getStatus().equals('Active')
                                ? 'Are you sure you want to change the status of this category to inactive?'
                                : 'Are you sure you want to change the status of this category to active?'}"></p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Cancel
                                                                </button>
                                                                <!-- Conditional Button Text and Link -->
                                                                <a th:href="@{/admin/category/status/change(id=${category.id})}"
                                                                   id="confirmStatusChangeButton"
                                                                   th:classappend="${category.getStatus().equals('Active') ? 'btn-danger' : 'btn-success'}"
                                                                   th:text="${category.getStatus().equals('Active') ? 'Yes, Make Inactive' : 'Yes, Make Active'}">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                        <div class="card-footer border-top">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end mb-0">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="admin_layout::required_script"></div>
</div>
</body>
</html>