<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin_layout::admin_head}"></head>
<body>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">General Information</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <form th:action="@{/category/save}" method="post" th:object="${category}">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="category-title" class="form-label">Category Name</label>
                        <input th:field="*{categoryname}" type="text" id="category-title"
                               class="form-control" placeholder="Enter Category Name">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Status</label>
                        <input th:field="*{status}" type="text" id="" class="form-control"
                               placeholder="Active or Inactive">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-sm btn-primary w-100">Create Category</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>