<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin_layout::admin_head}"></head>

<body>
    <div class="wrapper">
         <header th:replace="~{admin_layout::topbar}"></header>
         <div th:replace="~{admin_layout::admin_nav}"></div>
        <div class="page-content">
            <div class="container-xxl">
                <div class="row">
                     <div class="col-lg-4">
                          <div class="card">
                               <div class="card-body">
                                    <!-- Crossfade -->
                                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                         <div class="carousel-inner" role="listbox">
                                              <!-- Slide 1 -->
                                              <div class="carousel-item active">
                                                   <img src="../../assets/images/product/p-1.png" alt="Product Image 1" class="img-fluid bg-light rounded">
                                              </div>
                                              <!-- Slide 2 -->
                                              <div class="carousel-item">
                                                   <img src="../../assets/images/product/p-10.png" alt="Product Image 2" class="img-fluid bg-light rounded">
                                              </div>
                                              <!-- Slide 3 -->
                                              <div class="carousel-item">
                                                   <img src="../../assets/images/product/p-13.png" alt="Product Image 3" class="img-fluid bg-light rounded">
                                              </div>
                                         </div>

                                         <!-- Indicators -->
                                         <div class="carousel-indicators m-0 mt-2 d-lg-flex d-none position-static h-100">
                                              <!-- Indicator 1 -->
                                              <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1" class="w-auto h-auto rounded bg-light active">
                                                   <img src="../../assets/images/product/p-1.png" class="d-block avatar-xl" alt="Thumbnail for Product 1">
                                              </button>
                                              <!-- Indicator 2 -->
                                              <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2" class="w-auto h-auto rounded bg-light">
                                                   <img src="../../assets/images/product/p-10.png" class="d-block avatar-xl" alt="Thumbnail for Product 2">
                                              </button>
                                              <!-- Indicator 3 -->
                                              <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3" class="w-auto h-auto rounded bg-light">
                                                   <img src="../../assets/images/product/p-13.png" class="d-block avatar-xl" alt="Thumbnail for Product 3">
                                              </button>
                                         </div>
                                    </div>

                               </div>
                          </div>
                     </div>
                     <div class="col-lg-8">
                          <div class="card">
                               <div class="card-body">
                                    <p class="mb-1">
                                         <a href="#!" class="fs-24 text-dark fw-medium">Men Black Slim Fit T-shirt</a>
                                    </p>
                                    <h2 class="fw-medium my-3">$80.00 </h2>
                                    <div class="quantity mt-4">
                                         <h4 class="text-dark fw-medium mt-3">In stock : 100</h4>
                                    </div>
                                    <ul class="d-flex flex-column gap-2 list-unstyled fs-15 my-3">
                                         <li>
                                              <i class='bx bx-check text-success'></i> Free delivery available
                                         </li>
                                    </ul>
                                    <h4 class="text-dark fw-medium">Description :</h4>
                                    <p class="text-muted">Top in sweatshirt fabric made from a cotton blend with a soft brushed inside. Relaxed fit with dropped shoulders, long sleeves and ribbing around the neckline, cuffs and hem. Small metal text applique. ith dropped shoulders, long sleeves and ribbing around the neckline, cuffs and hem. Small metal text applique.</p>
                                    <h4 class="text-dark fw-medium">Summary :</h4>
                                    <p class="text-muted">Top in sweatshirt fabric made from a cotton blend with a soft brushed sSmall metal text applique. ith dropped shoulders, long sleeves and ribbing around the neckline, cuffs and hem. Small metal text applique.</p>
                               </div>
                          </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin_layout::required_script"></div>

    <script th:src="@{assets/js/vendor/pages/product-details.js}"></script>

</body>


<!-- Mirrored from techzaa.in/larkon/admin/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Oct 2024 15:09:07 GMT -->
</html>