<!DOCTYPE html>
<html lang="en">

<head th:replace="~{admin_layout::admin_head}"></head>

<body>

     <!-- START Wrapper -->
     <div class="wrapper">

          <header th:replace="~{admin_layout::topbar}"></header>
          <div th:replace="~{admin_layout::admin_nav}"></div>

          <div>

               <div class="page-content">

                    <!-- Start Container Fluid -->
                    <div class="container-xxl">


                         <div class="row">
                              <div class="col-lg-4">

                                   <div class="card">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                             <div>
                                                  <h4 class="card-title">Customer Details</h4>
                                             </div>
                                             <div>
                                                  <span class="badge bg-success-subtle text-success px-2 py-1">Active User</span>
                                             </div>

                                        </div>
                                        <div class="card-body py-2">
                                             <div class="table-responsive">
                                                  <table class="table mb-0">
                                                       <tbody>
                                                            <tr>
                                                                 <td class="px-0">
                                                                      <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark">ID : </p>
                                                                 </td>
                                                                 <td class="text-dark fw-medium px-0" th:text="${user.id}"></td>
                                                            </tr>
                                                            <tr>
                                                                 <td class="px-0">
                                                                      <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark">Email : </p>
                                                                 </td>
                                                                 <td class="text-dark fw-medium px-0" th:text="${user.email}"></td>
                                                            </tr>
                                                            <tr>
                                                                 <td class="px-0">
                                                                      <p class="d-flex mb-0 align-items-center gap-1 fw-semibold text-dark"> Delivery Address : </p>
                                                                 </td>
                                                                 <td class="text-dark fw-medium px-0" th:text="${user.address}"></td>
                                                            </tr>

                                                       </tbody>
                                                  </table>
                                             </div>
                                        </div>
                                   </div>

                              </div>

                              <div class="col-lg-8">

                                   <div class="card">
                                        <div class="card-header">
                                             <h4 class="card-title">Order History</h4>
                                        </div>
                                        <div class="card-body">
                                             <div class="table-responsive">
                                                  <table class="table align-middle mb-0 table-hover table-centered">
                                                       <thead class="bg-light-subtle">
                                                            <tr>
                                                                 <th class="text-end">ID</th>
                                                                 <th class="text-center">Status</th>
                                                                 <th class="text-end">Total Amount</th>
                                                                 <th class="text-center">Due Date</th>
                                                                 <th class="text-start">Payment Method</th>
                                                            </tr>
                                                       </thead>
                                                       <tbody>
                                                            <tr th:each="order : ${orders}">
                                                                 <td class="text-end" th:text="${order.ID}"></td>
                                                                 <td class="text-center"><span class="badge bg-primary-subtle text-primary py-1 px-2" th:text="${order.paymentStatus}"></span></td>
                                                                 <td class="text-end">$ <span th:text="${order.getTotal()}"></span></td>
                                                                 <td class="text-center" th:text="${order.orderDate}"></td>
                                                                 <td class="text-start" th:text="${order.formOfPayment}"></td>
                                                            </tr>
                                                       </tbody>
                                                  </table>
                                             </div>
                                        </div>
                                        <div class="card-footer border-top">
                                             <ul class="pagination pagination-rounded m-0 justify-content-end">
                                                  <li class="page-item">
                                                       <a href="#" class="page-link"><i class="bx bx-left-arrow-alt"></i></a>
                                                  </li>
                                                  <li class="page-item active">
                                                       <a href="#" class="page-link">1</a>
                                                  </li>
                                                  <li class="page-item">
                                                       <a href="#" class="page-link">2</a>
                                                  </li>
                                                  <li class="page-item">
                                                       <a href="#" class="page-link">3</a>
                                                  </li>
                                                  <li class="page-item">
                                                       <a href="#" class="page-link"><i class="bx bx-right-arrow-alt"></i></a>
                                                  </li>
                                             </ul>
                                        </div>
                                   </div>
                              </div>
                         </div>


                    </div>
                    <!-- End Container Fluid -->
                    
               </div>
               <!-- ==================================================== -->
               <!-- End Page Content -->
               <!-- ==================================================== -->

          </div>

     </div>
     <div th:replace="admin_layout::required_script"></div>

</body>
</html>