<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>

<body>
    <div class="wrapper">
        <header class="header-sticky" th:replace="~{layout::page_header}"></header>
        <!-- Main Header Area End Here -->
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(assets/img/bg-image/hop-brech-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-wrap text-center">
                    <h3>Blog Details</h3>
                    <ol class="breadcrumb breadcrumb-list">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active">blog details audio</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Blog Area Start -->
        <div class="blog-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="blog-details-wrapper">
                            <div class="sound-cloud embed-responsive embed-responsive-16by9">
                                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/254172576&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                            </div>
                            <div class="blog-details-content mt-40">
                                <p><span>T</span>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form injected humour, or randomised words which don't look even slightly believable. If you  going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                <div class="blog-details-pera">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                                <div class="blog-details-list">
                                    <div class="blog-det-list-title">
                                        <h4>List Style</h4>
                                    </div>
                                    <div class="single-blog-det-list">
                                        <div class="blog-det-list-digit">
                                            <span>01.</span>
                                        </div>
                                        <div class="blog-det-list-content">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                        </div>
                                    </div>
                                    <div class="single-blog-det-list">
                                        <div class="blog-det-list-digit">
                                            <span>02.</span>
                                        </div>
                                        <div class="blog-det-list-content">
                                            <p>totam rem aperiam, eaque ipsa quae ab illo inventore <br>veritatis et quasi</p>
                                        </div>
                                    </div>
                                    <div class="single-blog-det-list">
                                        <div class="blog-det-list-digit">
                                            <span>03.</span>
                                        </div>
                                        <div class="blog-det-list-content">
                                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete </p>
                                        </div>
                                    </div>
                                    <div class="single-blog-det-list">
                                        <div class="blog-det-list-digit">
                                            <span>04.</span>
                                        </div>
                                        <div class="blog-det-list-content">
                                            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details-middle-img mt-50 mb-50">
                                <img alt="" src="assets/img/blog/hop-blog9.jpg">
                            </div>
                            <div class="blog-details-content">
                                <div class="blog-details-list">
                                    <div class="single-blog-det-list">
                                        <div class="blog-det-list-digit">
                                            <span>05.</span>
                                        </div>
                                        <div class="blog-det-list-content">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                        </div>
                                    </div>
                                    <div class="single-blog-det-list">
                                        <div class="blog-det-list-digit">
                                            <span>06.</span>
                                        </div>
                                        <div class="blog-det-list-content">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details-middle-img mt-50">
                                <img alt="" src="assets/img/blog/hop-blog10.jpg">
                            </div>
                            <div class="blog-author mt-60 mb-60">
                                <div class="image">
                                    <img alt="Blog Author" src="assets/img/blog/author.jpg">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="#">Elina Smith</a>
                                    </h4>
                                    <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dorem ipsum quia. </p>
                                </div>
                            </div>
                            <div class="next-prev">
                                <a class="prev-btn" href="#">
                                    <i class="fa fa-angle-left"></i>
                                    prev post
                                </a>
                                <a class="next-btn" href="#">
                                    next post
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="blog-comment-area mt-55">
                                <h4>3 Comments</h4>
                                <ul class="comment-list">
                                    <li>
                                        <div class="single-comment">
                                            <div class="image">
                                                <img alt="" src="assets/img/blog/comment-1.jpg">
                                            </div>
                                            <div class="content">
                                                <h5>
                                                    Julia Rebeca /
                                                    <span>30 Janurary, 2018</span>
                                                </h5>
                                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro</p>
                                                <a class="reply" href="#">reply</a>
                                            </div>
                                        </div>
                                        <ul class="children">
                                            <li>
                                                <div class="single-comment">
                                                    <div class="image">
                                                        <img alt="" src="assets/img/blog/comment-2.jpg">
                                                    </div>
                                                    <div class="content">
                                                        <h5>
                                                            Julia Rebeca /
                                                            <span>30 Janurary, 2018</span>
                                                        </h5>
                                                        <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cntur magn lores eos qui ratione voluptatem sequi nesciunt.</p>
                                                        <a class="reply" href="#">reply</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="single-comment">
                                            <div class="image">
                                                <img alt="" src="assets/img/blog/comment-3.jpg">
                                            </div>
                                            <div class="content">
                                                <h5>
                                                    Julia Rebeca /
                                                    <span>30 Janurary, 2018</span>
                                                </h5>
                                                <p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cntur magn lores eos qui ratione voluptatem sequi nesciunt. Neque porro</p>
                                                <a class="reply" href="#">reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="blog-form-area">
                                <h4>Leave a reply</h4>
                                <form action="#" class="comment-form">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-30">
                                            <label for="first_name">First name*</label>    
                                            <input type="text" id="first_name">
                                        </div>
                                        <div class="col-md-6 col-12 mb-30">
                                            <label for="last_name">Last name*</label>    
                                            <input type="text" id="last_name">
                                        </div>
                                        <div class="col-md-6 col-12 mb-30">
                                            <label for="email_address">Email*</label>    
                                            <input type="email" id="email_address">
                                        </div>
                                        <div class="col-md-6 col-12 mb-30">
                                            <label for="phone_number">Phone</label>    
                                            <input type="text" id="phone_number">
                                        </div>
                                        <div class="col-12 mb-30">
                                            <label for="message">Message*</label>    
                                            <textarea id="message"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" value="send now">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="blog-sidebar">
                            <div class="sidebar-search mb-55">
                                <form class="header-search-form" action="#">
                                    <input type="text" placeholder="Type key word">
                                    <button>
                                        <i class="icon-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="most-view-area mb-55">
                                <div class="blog-sidebar-title mb-35">
                                    <h4>Most View</h4>
                                </div>
                                <div class="most-view-wrap">
                                    <div class="single-most-view">
                                        <div class="single-most-view-img">
                                            <a href="#"><img alt="brand-image" src="assets/img/blog/hop-blog1.png"></a>
                                        </div>
                                        <div class="single-most-view-content">
                                            <h5><a href="#">Variations of passages Ipsum available</a></h5>
                                            <div class="most-view-date">
                                                <h5><span>19 </span> July</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-most-view">
                                        <div class="single-most-view-img">
                                            <a href="#"><img alt="brand-image" src="assets/img/blog/hop-blog2.png"></a>
                                        </div>
                                        <div class="single-most-view-content">
                                            <h5><a href="#">Variations of passages Ipsum available</a></h5>
                                            <div class="most-view-date">
                                                <h5><span>26 </span> June</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-most-view">
                                        <div class="single-most-view-img">
                                            <a href="#"><img alt="brand-image" src="assets/img/blog/hop-blog3.png"></a>
                                        </div>
                                        <div class="single-most-view-content">
                                            <h5><a href="#">Variations of passages Ipsum available</a></h5>
                                            <div class="most-view-date">
                                                <h5><span>26 </span> October</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slidebar-catigory mb-60">
                                <div class="blog-sidebar-title mb-30">
                                    <h4>Categories</h4>
                                </div>
                                <div class="sidebar-catigory-content">
                                    <ul>
                                        <li><a href="#">PACKING ORGANIZERS</a></li>
                                        <li><a href="#">TOILETRY BAGS</a></li>
                                        <li><a href="#">PASSPORT WALLETS</a></li>
                                        <li><a href="#">LUGGAGE CARTS</a></li>
                                        <li><a href="#">LUGGAGE LOCKS</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hop-single-banner mb-55">
                                <a href="#">
                                    <img src="assets/img/blog/blog-banner.png" alt="">
                                </a>
                            </div>
                            <div class="instragram mb-50">
                                <div class="blog-sidebar-title mb-35">
                                    <h4>Instagram</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="assets/img/instagram/i1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/instagram/i2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/instagram/i3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/instagram/i4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/instagram/i5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/img/instagram/i6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="blog-tag">
                                <div class="blog-sidebar-title mb-40">
                                    <h4>Popular Tags</h4>
                                </div>
                                <ul>
                                    <li><a href="#">Travel</a></li>
                                    <li><a href="#">Product</a></li>
                                    <li><a href="#">Bags</a></li>
                                    <li><a href="#">Photography</a></li>
                                    <li><a href="#">Image</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End -->
        <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
    </div>
    <!-- Main Wrapper End Here -->

    <th:block th:replace="layout :: scripts"></th:block>

</body>
</html>