<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>

<body>
<div class="wrapper">
    <header class="header-sticky" th:replace="~{layout::page_header}"></header>

    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area pt-65 pb-70 bg-img">
        <div class="container">
            <div class="breadcrumb-wrap text-center">
                <h3>Checkout</h3>
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- checkout-area start -->
    <div class="checkout-area white-bg pb-80 mt-30">
        <div class="container">
            <form th:action= "@{/order/save}" method="post" th:object="${order}">

                <div class="row">
                    <input type="hidden" th:field="*{user.id}" />
                    <input type="hidden" th:field="*{paymentStatus}"/>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkbox-form mb-sm-40">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-12 mb-30">
                                    <div class="checkout-form-list mb-sm-30">
                                        <label>Name <span class="required">*</span></label>
                                        <!-- <input type="text" value="Peter" disabled/> -->
                                        <span  th:text="${order.user.getUsername()}"></span>
                                        <!--  Chỗ này dẫn đến tên người dùng, mặc định lấy từ user, không thay đổi được
                                                Muốn thay đổi nhấn vào different address
                                        -->
                                    </div>
                                </div>
                                <div class="col-md-12 mb-30">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" th:field="*{address}"/>
                                        <!--   Chỗ này dẫn đến địa chỉ người dùng-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Email Address <span class="required">*</span></label>
                                        <!--                                        <input type="email" value="abc@email.com" disabled/>-->
                                        <span  th:text="${order.user.email}"></span>
                                        <!--   Chỗ này dẫn đến email người dùng-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Phone <span class="required">*</span></label>
                                        <input type="text" th:field="*{phoneNumber}"/>
                                        <!--   Chỗ này dẫn đến phone người dùng-->
                                    </div>
                                </div>
                            </div>
                            <div class="different-address">
                                <div class="ship-different-title">
                                    <h3>
                                        <label>Ship to a different address?</label>
                                        <input id="ship-box" type="checkbox"/>
                                    </h3>
                                </div>
                                <div id="ship-box-info">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="country-select clearfix mb-30">
                                                <label>Province/ City <span class="required">*</span></label>
                                                <select class="wide" id='provinces' onchange='getProvinces(event)'>
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="country-select clearfix mb-30">
                                                <label>District <span class="required">*</span></label>
                                                <select class="wide" id='districts' onchange='getDistricts(event)'>
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="country-select clearfix mb-30">
                                                <label>District <span class="required">*</span></label>
                                                <select class="wide" id='wards'>
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list mb-30">
                                                <label>Address <span class="required">*</span></label>
                                                <input type="text" placeholder="Street address"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list mb-30">
                                                <label>Name <span class="required">*</span></label>
                                                <input type="text" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-30">
                                                <label>Email Address <span class="required">*</span></label>
                                                <input type="email" placeholder=""/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-30">
                                                <label>Phone <span class="required">*</span></label>
                                                <input type="text" placeholder="Phone"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-method mb-30">
                                <label for="payment-method-select" style="display: block">Choose Payment Method:</label>
                                <select class="wide" id="payment-method-select" name="paymentMethod" th:field="*{formOfPayment}">
                                    <option value="cash">Cash</option>
                                    <option value="credit-card">Credit Card</option>
                                    <option value="e-wallet">E-wallet</option>
                                </select>
                            </div>
                            <div class="send-email float-md-right">
                                <input class="return-customer-btn" type="submit">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="your-order">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item" th:each="cart : ${carts}">
                                        <td class="product-name">
                                            <span class="product-quantity"  th:text="${cart.product.getName()}"></span> *
                                            <span class="product-quantity" th:text="${cart.quantity}"></span>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount" th:text="${cart.getTotal()}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td><span class=" total amount" th:text="'$' + ${total}" ></span>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- checkout-area end -->
    <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
</div>
<!-- Main Wrapper End Here -->

<th:block th:replace="layout :: scripts"></th:block>
</body>
</html>