<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>
<body>
    <div class="wrapper">
        <header class="header-sticky" th:replace="~{layout::page_header}"></header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(assets/img/bg-image/hop-brech-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-wrap text-center">
                    <h3>Compare</h3>
                    <ol class="breadcrumb breadcrumb-list">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active">Compare</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Compare Product Start Here -->
         <div class="compare-product white-bg ptb-80">
            <div class="container">
                <div class="table-responsive-sm">
                    <table class="table text-center compare-content">
                        <tbody>
                            <tr>
                                <td class="product-title">Product</td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="assets/img/products/p3.jpg" alt="compare-product"></a>
                                        </div>
                                        <div class="compare-detail-content">
                                            <span>laptop</span>
                                            <h4><a th:href="@{/product-detail}">latest casual shoe</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="assets/img/products/p11.jpg" alt="compare-product"></a>
                                        </div>
                                        <span>mobile</span>
                                        <h4><a th:href="@{/product-detail}">Strong Instrument</a></h4>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="assets/img/products/p6.jpg" alt="compare-product"></a>
                                        </div>
                                        <span>Games</span>
                                        <h4><a th:href="@{/product-detail}">play station boxer</a></h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Description</td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Price</td>
                                <td class="product-description">$235</td>
                                <td class="product-description">$275</td>
                                <td class="product-description">$190</td>
                            </tr>
                            <tr>
                                <td class="product-title">Color</td>
                                <td class="product-description">Black</td>
                                <td class="product-description">Yellow</td>
                                <td class="product-description">White</td>
                            </tr>
                            <tr>
                                <td class="product-title">Stock</td>
                                <td class="product-description">In Stock</td>
                                <td class="product-description">Stock Out</td>
                                <td class="product-description">In Stock</td>
                            </tr>
                            <tr>
                                <td class="product-title">Add to cart</td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" th:href="@{/cart}"><i class="fa fa-shopping-cart"></i>add to cart</a>
                                </td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" th:href="@{/cart}"><i class="fa fa-shopping-cart"></i>add to cart</a>
                                </td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" th:href="@{/cart}"><i class="fa fa-shopping-cart"></i>add to cart</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Delete</td>
                                <td class="product-description"><i class="fa fa-trash-o"></i></td>
                                <td class="product-description"><i class="fa fa-trash-o"></i></td>
                                <td class="product-description"><i class="fa fa-trash-o"></i></td>
                            </tr>
                            <tr>
                                <td class="product-title">Rating</td>
                                <td class="product-description">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Compare Product End Here -->
        <footer class="footer-area bg-img" th:replace="~{layout::page_footer}">
            <div class="footer-top bg-img pt-82 pb-50" style="background-image:url(assets/img/bg-image/footer-bg-2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-4">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-55">
                                    <h4>Terms & Policies</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">Refunds Policy</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Delivery Policy</a></li>
                                        <li><a href="#">Term and Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-4">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-55">
                                    <h4>Customer Service</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a th:href="@{/contact}">Contact Us</a></li>
                                        <li><a href="#">Store location</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Call us: 0888888888</a></li>
                                        <li><a href="#">(Mon - Sun: 9am - 5pm)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-4">
                            <div class="footer-widget mb-40">
                                <div class="footer-title mb-55">
                                    <h4>Products</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">Deals</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                        <li><a href="#">Clothing Size Guide</a></li>
                                        <li><a href="#">Footware Size Guide</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-4">
                            <div class="footer-widget">
                                <div class="footer-logo mb-43">
                                    <a th:href="@{/home}">
                                        <img alt="brand-image" src="assets/img/logo/footer-logo2.png">
                                    </a>
                                </div>
                                <div class="footer-address">
                                    <p></p>
                                    <div class="footer-phn-email">
                                        <a th:href="@{/about}">About Us</a>
                                        <a th:href="@{/about}">Services</a>
                                        <a th:href="@{/about}">Careers</a>
                                    </div>
                                </div>
                                <div class="social-element">
                                    <p>
                                        <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                        <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="https://x.com/?lang=vi"><i class="fa fa-twitter" aria-hidden="true"></i></a>                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="copyright text-center">
                        <p>Copyright ©<a href="#">Hopsop</a>. All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End Here -->
        <!-- Quick View Content Start -->
        <div th:replace="~{layout::quickViewProduct}"></div>
        <!-- Quick View Content End -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="assets/js/jquery.scrollUp.js"></script>
    <!-- Fancybox js -->
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="assets/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="assets/js/main.js"></script>
</body>
</html>