<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>

<body>
    <div class="wrapper">
        <header class="header-sticky" th:replace="~{layout::page_header}"></header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(assets/img/bg-image/hop-brech-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-wrap text-center">
                    <h3>Forgot Password</h3>
                    <ol class="breadcrumb breadcrumb-list">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active"><a th:href="@{/forgot-password}">Forgot Password</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Forgot Password Start Here -->
        <div class="Lost-pass white-bg ptb-80">
            <div class="container">
                <div class="register-title">
                    <h3 class="login-header text-center">Enter your email to reset password</h3>
                </div>
                <form class="password-forgot clearfix" th:action="@{/auth/forgot-password}" method="post" >
                    <div class="form-group row justify-content-center">
                            <label for="email" class="col-lg-1 col-form-label">Email</label>
                        <div class="col-6 ">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter you email address here...">
                        </div>
                    </div>
                    <div class="buttons newsletter-input">
                        <div class="row justify-content-center mb-30">
                            <input type="submit" value="Continue" class="return-customer-btn">
                        </div>
                    </div>
                </form>
                <div class="form-group row justify-content-center">
                    <div th:if="${successMessage}" class="col-5 alert alert-success text-center ">
                        <span th:text="${successMessage}"></span>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div th:if="${errorMessage}" class=" col-5 alert alert-danger text-center">
                        <span th:text="${errorMessage}"></span>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Forgot Password End Here -->
        <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
    </div>
    <!-- Main Wrapper End Here -->

    <th:block th:replace="layout :: scripts"></th:block>
    <!-- Script to Show Toast Automatically -->
</body>
</html>