<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>

<body>
    <div class="wrapper">
        <header class="header-sticky" th:replace="~{layout::page_header}"></header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(assets/img/bg-image/hop-brech-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-wrap text-center">
                    <h3>Register</h3>
                    <ol class="breadcrumb breadcrumb-list">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active">Register</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Regester Page Start Here -->
        <div class="register-area white-bg ptb-80">
          <div class="container">
            <h3 class="login-header">Create an account </h3>
            <div class="row">
              <div class="offset-xl-2 col-xl-10">
                <div class="register-form login-form clearfix">
                    <form th:action="@{/users/save}" method="post" th:object="${user}">
                        <p>Already have an account? <a th:href="@{/login}">Log in instead!</a></p>
                        <div class="form-group row align-items-center">
                            <label class="col-lg-3 col-md-3 col-form-label">Social title</label>
                            <div class="col-lg-6 col-md-6">
                                <span class="custom-radio"><input name="id_gender" value="male" type="radio" th:field="*{gender}"> Male</span>
                                <span class="custom-radio"><input name="id_gender" value="female" type="radio" th:field="*{gender}"> Female</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-lg-3 col-md-3 col-form-label">Email</label>
                            <div class="col-lg-6 col-md-6">
                                <input type="email" class="form-control" th:field="*{email}" id="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-lg-3 col-md-3 col-form-label">Username</label>
                            <div class="col-lg-6 col-md-6">
                                <input type="text" id="username" class="form-control" pattern="[^#$%^!&*-+=\|'<>,./?]{5}" th:field="*{username}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-lg-3 col-md-3 col-form-label">Password</label>
                            <div class="col-lg-6 col-md-6">
                                <input type="password" class="form-control" id="inputPassword" th:field="*{password}">
                                <button class="btn show-btn" id="showPassWordBtn" type="button">Show</button>
                            </div>
                        </div>
                        <div class="register-box mt-40">
                            <button type="submit" class="login-btn float-right">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Page End Here -->
<footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
</div>
<!-- Main Wrapper End Here -->
    <th:block th:replace="layout :: scripts"></th:block>
<script type="text/javascript">
    const togglePassword = () => {
        console.log('doing')
        var password = document.getElementById("inputPassword");
        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password"
        }
    }
    const showPassWordBtn = document.getElementById("showPassWordBtn");
    showPassWordBtn.addEventListener("mousedown", togglePassword, false);
    showPassWordBtn.addEventListener("mouseup", togglePassword, false);
</script>

</body>
</html>