<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>

<body>
<div class="wrapper">
    <header class="header-sticky" th:replace="~{layout::page_header}"></header>
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area pt-65 pb-70 bg-img"
         style="background-image:url(/assets/img/bg-image/hop-brech-bg.jpg);">
        <div class="container">
            <div class="breadcrumb-wrap text-center">
                <h3>Register</h3>
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Regester Page Start Here -->
    <div class="register-area white-bg ptb-80">
        <div class="container">
            <h3 class="login-header">Create an account </h3>
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="register-form login-form clearfix">
                        <form th:action="@{/users/save}" id="registerForm" method="post" th:object="${user}">
                            <div class="form-group row justify-content-center">
                                <label for="firstName" class="col-lg-3 col-md-3 col-form-label">First name</label>
                                <div class="col-lg-3 col-md-3">
                                    <input type="text" id="firstName" class="form-control" th:field="*{firstName}"
                                           required>
                                </div>
                                <label for="lastName" class="col-lg-2 col-md-2 col-form-label">Last name</label>
                                <div class="col-lg-3 col-md-3">
                                    <input type="text" id="lastName" class="form-control" th:field="*{lastName}"
                                           required>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label for="email" class="col-lg-3 col-md-3 col-form-label">Email</label>
                                <div class="col-lg-8 col-md-8">
                                    <input type="email" class="form-control" name="email" th:field="*{email}" id="email"
                                           onblur="checkEmailExists()" required>
                                    <input type="email" class="form-control" name="email" th:field="*{username}" th:value="*{email}" hidden>
                                    <small id="emailError" class="text-danger"></small>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label for="inputPassword" class="col-lg-3 col-md-3 col-form-label">Password</label>
                                <div class="col-lg-8 col-md-8">
                                    <input type="password" class="form-control" id="inputPassword"
                                           th:field="*{password}" required>
                                    <button class="btn show-btn" id="showPassWordBtn" type="button">Show</button>
                                </div>
                            </div>
                            <div class="register-box mt-20 mb-20 text-center">
                                <button type="submit" class="login-btn">Register</button>
                            </div>
                            <div class="login-footer text-center">
                                <p>Have account? <a th:href="@{/login}">Go to log in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Page End Here -->
    <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
</div>
<!-- Main Wrapper End Here -->
<th:block th:replace="layout :: scripts"></th:block>
<script type="text/javascript">
    const togglePassword = () => {
        console.log('doing')
        var password = document.getElementById("inputPassword");
        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password"
        }
    }
    const showPassWordBtn = document.getElementById("showPassWordBtn");
    showPassWordBtn.addEventListener("mousedown", togglePassword, false);
    showPassWordBtn.addEventListener("mouseup", togglePassword, false);
</script>
<script type="text/javascript">
    let emailExists = false;

    async function checkEmailExists() {
        let email = document.getElementById("email").value;
        if (email) {
            try {
                let response = await fetch(`/users/check/email?email=${email}`);
                let data = await response.json();
                emailExists = data.exists;
                document.getElementById("emailError").innerText = emailExists ? "Email already in use!" : "";
            } catch (error) {
                console.error("Error checking email:", error);
            }
        }
    }


</script>
</body>
</html>