<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!--<head th:replace="~{layout::page_head}"></head>-->
<head th:replace="~{layout::page_head}"></head>

<body>
<div class="wrapper">
    <!-- Main Header Area Start Here -->
    <header class="header-sticky" th:replace="~{layout::page_header}"></header>
    <!-- Main Header Area End Here -->
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area pt-65 pb-70 bg-img"
         th:style="|background-image:url('@{/assets/img/bg-image/hop-brech-bg.jpg}');|">
        <div class="container">
            <div class="breadcrumb-wrap text-center">
                <h3>Shop List</h3>
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item active">Shop List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Shop Page Start -->
    <div class="main-shop-page white-bg ptb-80">
        <div class="container">
            <!-- Row End -->
            <div class="row flex-row-reverse">
                <!-- Product Categorie List Start -->
                <div class="col-lg-9 col-md-8">
                    <div class="shop-banner mb-40">
                        <a th:href="@{/shop}"><img th:src="@{/assets/img/banner/b9.jpg}"
                                                              alt="banner-img"></a>
                    </div>
                    <div id="product-container" th:fragment="productList">
                        <!-- Grid & List View Start -->
                        <div class="grid-list-top border-default universal-padding d-lg-flex justify-content-md-between align-items-center mb-30">
                            <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                                <ul class="nav tabs-area d-flex align-items-center">
                                    <li><a class="active" data-toggle="tab" href="#grid-view"><i
                                            class="fa fa-th"></i></a>
                                    </li>
                                    <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                                </ul>
                                <span class="show-items"
                                      th:text="'There are ' + ${products.size()} + ' products.'"></span>
                            </div>
                            <!-- Toolbar Short Area Start -->
                            <div class="main-toolbar-sorter clearfix">
                                <div class="toolbar-sorter d-md-flex align-items-center">
                                    <label>Sort By:</label>
                                    <div class="nice-select sorter wide" tabindex="0"><span
                                            class="current">Relevance</span>
                                        <ul class="list" id="sort-options">
                                            <li data-value="relevance" class="option selected">Relevance</li>
                                            <li data-value="nameAsc" class="option">Name, A to Z</li>
                                            <li data-value="nameDesc" class="option">Name, Z to A</li>
                                            <li data-value="priceAsc" class="option">Price low to high</li>
                                            <li data-value="priceDesc" class="option">Price high to low</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Toolbar Short Area End -->
                        </div>
                        <!-- Grid & List View End -->
                        <div class="shop-area mb-all-40">
                            <!-- Grid & List Main Area End -->
                            <div class="tab-content Products-area">
                                <div id="grid-view" class="tab-pane fade show active">
                                    <div id="product-list">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-6" th:each="product : ${products}">

                                                <!-- Single Product Start -->
                                                <div class="single-aboss-product mb-3">
                                                    <div class="pro-img">
                                                        <a th:href="@{/product-details(productId=${product.getId()})}">
                                                            <img th:src="${product.thumbnail != null ? product.thumbnail.filePath : 'default-image.jpg'}"
                                                                 alt="Product Image">

                                                        </a>
                                                        <div class="pro-actions">
                                                        </div>
                                                    </div>
                                                    <div class="pro-content">
                                                        <h4><a th:href="@{/product-details(productId=${product.getId()})}"
                                                               th:text="${product.name}"></a>
                                                        </h4>
                                                        <div class="pro-price-cart">
                                                            <div class="pro-home-price">
                                                                <span class="price" th:text="'$' + ' ' + ${#numbers.formatDecimal(product.price, 2, 'COMMA', 2, 'POINT')}"></span>
                                                            </div>
                                                            <div class="pro-cart">
                                                                <a  title="Add To Cart" href="javascript:void(0);" class="add-to-cart-btn" th:data-id="${product.id}">
                                                                    <i class="icon-cart"></i>
                                                                </a>
                                                                <!--                                                        <a title="Wishlist" href="#"><i class="icon-like"></i></a>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Single Product End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row End -->
                                </div>
                                <!-- #grid view End -->


                                <div id="list-view" class="tab-pane fade">
                                    <!-- Single Product Start -->
                                    <div id="product-list">
                                        <div class="single-aboss-product" th:each="product : ${products}">

                                            <div class="pro-img">
                                                <a th:href="@{/product-details(productId=${product.getId()})}">
                                                    <img th:src="${product.thumbnail != null ? product.thumbnail.filePath : 'default-image.jpg'}"
                                                         alt="Product Image">

                                                </a>
                                                <div class="pro-actions">
                                                </div>
                                            </div>

                                            <div class="pro-content">
                                                <h4><a th:href="@{/product-details(productId=${product.getId()})}" th:text="${product.name}"></a></h4>
                                                <div class="rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                                <p>
                                                    <span class="price" th:text="'$' + ' ' + ${#numbers.formatDecimal(product.price, 2, 'COMMA', 2, 'POINT')}"></span>
                                                </p>
                                                <p th:utext="${product.summary}"></p>
                                                <div class="pro-cart">
                                                    <a  title="Add To Cart" href="javascript:void(0);" class="add-to-cart-btn" th:data-id="${product.id}">
                                                        <i class="icon-cart"></i>
                                                    </a>


                                                    <!--                                                    <a href="#" title="Wishlist">-->
                                                    <!--                                                        <i class="icon-like"></i>-->
                                                    <!--                                                    </a>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- #list view End -->
                            </div>
                            <!-- Grid & List Main Area End -->
                        </div>
                        <!-- Shop Breadcrumb Area Start -->
                        <div class="shop-breadcrumb-area border-default mt-40">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-5">
                                <span class="show-items"
                                      th:text="'Showing '+ ${products.size()} +' of ' + ${products.size()} + ' item(s) '">
                                </span>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-7">
                                    <ul class="pfolio-breadcrumb-list text-center">
                                        <li class="float-left prev"><a href="#"><i class="fa fa-angle-left"
                                                                                   aria-hidden="true"></i>Previous</a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
<!--                                        <li><a href="#">2</a></li>-->
                                        <li class="float-right next"><a href="#">Next<i class="fa fa-angle-right"
                                                                                        aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Breadcrumb Area End -->
                </div>
                <!-- product Categorie List End -->

                <!-- Sidebar Shopping Option Start -->
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar">
                        <!-- Price Filter Options Start -->
                        <div class="search-filter mb-30">
                            <h3 class="sidebar-title">filter by price</h3>
                            <form action="#" class="sidbar-style">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" class="amount-range" readonly>
                            </form>
                        </div>
                        <!-- Price Filter Options End -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-30">
                            <h3 class="sidebar-title">categories</h3>
                            <ul class="sidbar-style" th:each="category, stat : ${categories}">
                                <li class="form-check mb-10">
                                    <input class="form-check-input category-filter" th:value="${category.id}"
                                           th:id="'category-' + ${category.id}" type="checkbox">
                                    <label class="form-check-label" th:for="'category-' + ${category.id}"
                                           th:text="${category.categoryName} "></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Banner Start -->
                    <div class="sidebar-banner sidebar-banner-relative mt-30">
                        <img class="ful" th:src="@{/assets/img/banner/hop-banner-4.jpg}"
                                                   alt="slider-banner">
                        <img class="ful" th:src="@{/assets/img/banner/hop-banner-3.jpg}"
                                                   alt="slider-banner">
                        <img class="ful" th:src="@{/assets/img/banner/hop-banner-2.jpg}"
                                                   alt="slider-banner">
                    </div>
                    <!-- Single Banner End -->
                </div>
                <!-- Sidebar Shopping Option End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Shop Page End -->
    <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
</div>
<!-- Main Wrapper End Here -->

<th:block th:replace="layout :: scripts"></th:block>

<SCRIPT type="text/javascript">
    $(document).on("click", ".add-to-cart-btn", function () {
        console.log("addCartFunc");
        let productId = $(this).attr("data-id");
        $.ajax({
            type: "POST",
            url: "/cart/add",
            contentType: "application/json",
            data: JSON.stringify({id: productId}),
            success: function (response) {
                console.log("success");
                updateCartCount(response.cartSize);
                updateCartUI(response.cartItems);
                if (response.ErrorMessage != null) {
                    showToast(response.ErrorMessage, "error");
                }else {
                    showToast("Product added to cart!");
                }
            },
            error: function () {
                showToast("Error adding product to cart!", "error");
            }
        });
    });

</SCRIPT>
</body>
</html>