<!doctype html>
<html class="no-js}" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!--<head th:replace="~{layout::page_head}"></head>-->
<head th:replace="~{layout::page_head}"></head>

<body>
<div class="wrapper">
    <!-- Main Header Area Start Here -->
    <header class="header-sticky" th:replace="~{layout::page_header}"></header>
    <!-- Main Header Area End Here -->
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumb-area pt-65 pb-70 bg-img"
         th:style="|background-image:url('@{/assets/img/bg-image/hop-brech-bg.jpg}');|">
        <div class="container">
            <div class="breadcrumb-wrap text-center">
                <h3>Shop List</h3>
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item active">Shop List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Shop Page Start -->
    <div class="main-shop-page white-bg ptb-80">
        <div class="container">
            <!-- Row End -->
            <div class="row flex-row-reverse">
                <!-- Product Categorie List Start -->
                <div class="col-lg-9 col-md-8">
                    <div class="shop-banner mb-40">
                        <a th:href="@{/shop}"><img th:src="@{/assets/img/banner/b9.jpg}"
                                                              alt="banner-img"></a>
                    </div>
                    <div id="product-container" th:fragment="productList">
                        <!-- Grid & List View Start -->
                        <div class="grid-list-top border-default universal-padding d-lg-flex justify-content-md-between align-items-center mb-30">
                            <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                                <ul class="nav tabs-area d-flex align-items-center">
                                    <li><a class="active" data-toggle="tab" href="#grid-view"><i
                                            class="fa fa-th"></i></a>
                                    </li>
                                    <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                                </ul>
                                <span class="show-items"
                                      th:text="'There are ' + ${products.size()} + ' products.'"></span>
                            </div>
                            <!-- Toolbar Short Area Start -->
                            <div class="main-toolbar-sorter clearfix">
                                <div class="toolbar-sorter d-md-flex align-items-center">
                                    <label>Sort By:</label>
                                    <div class="nice-select sorter wide" tabindex="0"><span
                                            class="current">Relevance</span>
                                        <ul class="list" id="sort-options">
                                            <li data-value="relevance" class="option selected">Relevance</li>
                                            <li data-value="nameAsc" class="option">Name, A to Z</li>
                                            <li data-value="nameDesc" class="option">Name, Z to A</li>
                                            <li data-value="priceAsc" class="option">Price low to high</li>
                                            <li data-value="priceDesc" class="option">Price high to low</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Toolbar Short Area End -->
                        </div>
                        <!-- Grid & List View End -->
                        <div class="shop-area mb-all-40">
                            <!-- Grid & List Main Area End -->
                            <div class="tab-content Products-area">
                                <div id="grid-view" class="tab-pane fade show active">
                                    <div id="product-list">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-6" th:each="product : ${products}">

                                                <!-- Single Product Start -->
                                                <div class="single-aboss-product mb-3">
                                                    <div class="pro-img">
                                                        <a th:href="@{/product-details(productId=${product.getId()})}">
                                                            <img th:src="${product.thumbnail != null ? product.thumbnail.imageURL : 'default-image.jpg'}"
                                                                 alt="Product Image">

                                                        </a>
                                                        <div class="pro-actions">
                                                        </div>
                                                    </div>
                                                    <div class="pro-content">
                                                        <h4><a th:href="@{/product-details(productId=${product.getId()})}"
                                                               th:text="${product.name}"></a>
                                                        </h4>
                                                        <div class="pro-price-cart">
                                                            <div class="pro-home-price">
                                                                <span th:text="'$' + ${product.price}"></span>
                                                            </div>
                                                            <div class="pro-cart">
                                                                <a  title="Add To Cart" href="javascript:void(0);" class="add-to-cart-btn" th:data-id="${product.id}">
                                                                    <i class="icon-cart"></i>
                                                                </a>
                                                                <!--                                                        <a title="Wishlist" href="#"><i class="icon-like"></i></a>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Single Product End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row End -->
                                </div>
                                <!-- #grid view End -->


                                <div id="list-view" class="tab-pane fade">
                                    <!-- Single Product Start -->
                                    <div id="product-list">
                                        <div class="single-aboss-product" th:each="product : ${products}">

                                            <div class="pro-img">
                                                <a th:href="@{/product-details(productId=${product.getId()})}">
                                                    <img th:src="${product.thumbnail != null ? product.thumbnail.imageURL : 'default-image.jpg'}"
                                                         alt="Product Image">

                                                </a>
                                                <div class="pro-actions">
                                                </div>
                                            </div>

                                            <div class="pro-content">
                                                <h4><a th:href="@{/product-details(productId=${product.getId()})}" th:text="${product.name}"></a></h4>
                                                <div class="rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                </div>
                                                <p>
                                                    <span class="prev-price" th:text="'$' + ${product.price}"></span>
                                                    <span class="price" th:text="'$' + ${product.price}"></span>
                                                </p>
                                                <p th:utext="${product.description}"></p>
                                                <div class="pro-cart">
                                                    <a  title="Add To Cart" href="javascript:void(0);" class="add-to-cart-btn" th:data-id="${product.id}">
                                                        <i class="icon-cart"></i>
                                                    </a>


                                                    <!--                                                    <a href="#" title="Wishlist">-->
                                                    <!--                                                        <i class="icon-like"></i>-->
                                                    <!--                                                    </a>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- #list view End -->
                            </div>
                            <!-- Grid & List Main Area End -->
                        </div>
                        <!-- Shop Breadcrumb Area Start -->
                        <div class="shop-breadcrumb-area border-default mt-40">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-5">
                                <span class="show-items"
                                      th:text="'Showing '+ ${products.size()} +' of ' + ${products.size()} + ' item(s) '">
                                </span>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-7">
                                    <ul class="pfolio-breadcrumb-list text-center">
                                        <li class="float-left prev"><a href="#"><i class="fa fa-angle-left"
                                                                                   aria-hidden="true"></i>Previous</a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
<!--                                        <li><a href="#">2</a></li>-->
                                        <li class="float-right next"><a href="#">Next<i class="fa fa-angle-right"
                                                                                        aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Breadcrumb Area End -->
                </div>
                <!-- product Categorie List End -->

                <!-- Sidebar Shopping Option Start -->
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar">
                        <!-- Price Filter Options Start -->
                        <div class="search-filter mb-30">
                            <h3 class="sidebar-title">filter by price</h3>
                            <form action="#" class="sidbar-style">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" class="amount-range" readonly>
                            </form>
                        </div>
                        <!-- Price Filter Options End -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-30">
                            <h3 class="sidebar-title">categories</h3>
                            <ul class="sidbar-style" th:each="category, stat : ${categories}">
                                <li class="form-check mb-10">
                                    <input class="form-check-input category-filter" th:value="${category.id}"
                                           th:id="'category-' + ${category.id}" type="checkbox">
                                    <label class="form-check-label" th:for="'category-' + ${category.id}"
                                           th:text="${category.categoryName} "></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Banner Start -->
                    <div class="sidebar-banner sidebar-banner-relative mt-30">
                        <img class="ful" th:src="@{/assets/img/banner/hop-banner-4.jpg}"
                                                   alt="slider-banner">
                        <img class="ful" th:src="@{/assets/img/banner/hop-banner-3.jpg}"
                                                   alt="slider-banner">
                        <img class="ful" th:src="@{/assets/img/banner/hop-banner-2.jpg}"
                                                   alt="slider-banner">
                    </div>
                    <!-- Single Banner End -->
                </div>
                <!-- Sidebar Shopping Option End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Shop Page End -->
    <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
</div>
<!-- Main Wrapper End Here -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll(".category-filter");
        const gridView = document.getElementById("grid-view");
        const listView = document.getElementById("list-view");

        // Initialize price range slider
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 10000,
            values: [0, 10000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            },
            stop: function (event, ui) {
                fetchFilteredProducts();
            }
        });

        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));

        function fetchFilteredProducts() {
            let selectedCategories = [];
            document.querySelectorAll(".category-filter:checked").forEach((cb) => {
                selectedCategories.push(cb.value);
            });

            let minPrice = $("#slider-range").slider("values", 0);
            let maxPrice = $("#slider-range").slider("values", 1);
            let selectedSortElement = document.querySelector(".option.selected");
            let selectedSort = selectedSortElement ? selectedSortElement.getAttribute("data-value") : "";

            console.log("Fetching products with:", { selectedCategories, minPrice, maxPrice, selectedSort });

            let queryParams = new URLSearchParams();
            if (selectedCategories.length > 0) {
                queryParams.append("categories", selectedCategories.join(","));
            }
            queryParams.append("minPrice", minPrice);
            queryParams.append("maxPrice", maxPrice);
            if (selectedSort) {
                queryParams.append("sort", selectedSort);
            }

            fetch('/filter-products?' + queryParams.toString(), {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            })
                .then(response => response.text())
                .then(data => {
                    console.log("Response received, updating UI");
                    document.getElementById("product-container").innerHTML = data;

                    if (gridView.classList.contains("show")) {
                        listView.classList.remove("show", "active");
                        gridView.classList.add("show", "active");
                    } else {
                        gridView.classList.remove("show", "active");
                        listView.classList.add("show", "active");
                    }
                })
                .catch(error => console.error('Error fetching products:', error));
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("change", fetchFilteredProducts);
        });

        document.getElementById("sort-options").addEventListener("click", function (event) {
            console.log("Sort option clicked:", event.target);

            if (event.target.tagName === "LI") {
                console.log("Clicked on:", event.target.getAttribute("data-value"));

                // Remove 'selected' class from all options
                document.querySelectorAll(".option").forEach(opt => opt.classList.remove("selected"));

                // Add 'selected' class to the clicked option
                event.target.classList.add("selected");

                console.log("Sorting changed to:", event.target.getAttribute("data-value"));

                // Fetch the filtered and sorted products
                fetchFilteredProducts();
            }
        });


    });
</script>
<!-- jquery 3.2.1 -->

<script th:inline="javascript">
    function showToast(message, type = "success") {
        Toastify({
            text: message,
            duration: 2000,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function(){} // Callback after click
        }).showToast();
    }
    $(document).ready(function () {

        $(document).on("click", ".add-to-cart-btn", function () {
            console.log("addCartFunc")
            let productId = $(this).attr("data-id"); // Ensure correct ID retrieval
            $.ajax({
                type: "POST",
                url: "/cart/add", // Update with your backend API endpoint
                contentType: "application/json",
                data: JSON.stringify({ id: productId }),
                success: function (response) {
                    console.log("success");
                    updateCartCount(response.cartSize); // Update cart count
                    updateCartUI(response.cartItems); // Update cart UI
                    showToast("Product added to cart!"); // Show success message
                },
                error: function () {
                    showToast("Error adding product to cart!", "error");
                }
            });
        });

        function updateCartCount(count) {
            $("#toi-muon-count").text(count); // Update cart count in navbar
        }

        function updateCartUI(cartItems) {
            let cartContainer = $(".ht-dropdown-cart");
            cartContainer.empty();
            let totalPrice = 0;// Clear old items
            cartItems.forEach((item) => {
                let cartHtml = `
                <li class="single-cart-box">
                    <div class="cart-img">
                         <a href="#"><img src="${item.thumbNail}" alt="cart-image"></a>
                        <span class="pro-quantity">${item.quantity}</span>
                    </div>
                    <div class="cart-content">
                        <h6><a href="/product-details">${item.productName}</a></h6>
                        <span class="cart-price">$ ${item.price}</span>
                    </div>
                    <a class="del-icon" href="#"><i class="ion-close"></i></a>
                </li>
            `;
                cartContainer.append(cartHtml);
                totalPrice += item.price*item.quantity;
            });



            let footer = `
                        <!-- Cart Footer Inner Start -->
                        <li class="cart-footer">
                           <ul class="price-content">
                              <li>Total <span>$ ${totalPrice}</span></li>
                           </ul>
                           <div class="cart-actions text-center">
                              <a class="cart-checkout" id="view-cart-btn">View Cart</a>
                           </div>
                        </li>
                        <!-- Cart Footer Inner End -->
                        `;
            cartContainer.append(footer);

        }


        // Handle "View Cart" button click
        $(document).on("click", "#view-cart-btn", function () {
            window.location.href = "/cart"; // Redirect to Thymeleaf cart page
        });
    });

</script>

<th:block th:replace="layout :: scripts"></th:block>
</body>
</html>