<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::page_head}"></head>
<body>
    <div class="wrapper">
        <header class="header-sticky" th:replace="~{layout::page_header}"></header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumb-area pt-65 pb-70 bg-img" style="background-image:url(assets/img/bg-image/hop-brech-bg.jpg);">
            <div class="container">
                <div class="breadcrumb-wrap text-center">
                    <h3>Wishlist</h3>
                    <ol class="breadcrumb breadcrumb-list">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active">Wishlist</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Wish List Start -->
        <div class="cart-main-area wish-list white-bg ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-remove">Remove</th>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Stock Status</th>
                                            <th class="product-subtotal">add to cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/img/products/p6.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a th:href="@{/product-details}">Printed boxer cloth</a></td>
                                            <td class="product-price"><span class="amount">£165.00</span></td>
                                            <td class="product-stock-status"><span>in stock</span></td>
                                            <td class="product-add-to-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                               <a href="#"><img src="assets/img/products/p10.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a th:href="@{/product-details}">New summer collection</a></td>
                                            <td class="product-price"><span class="amount">£50.00</span></td>
                                            <td class="product-stock-status"><span>in stock</span></td>
                                            <td class="product-add-to-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="assets/img/products/p2.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a th:href="@{/product-details}">awesome bag</a></td>
                                            <td class="product-price"><span class="amount">£165.00</span></td>
                                            <td class="product-stock-status"><span>in stock</span></td>
                                            <td class="product-add-to-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                               <a href="#"><img src="assets/img/products/p1.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a th:href="@{/product-details}">trolley bags</a></td>
                                            <td class="product-price"><span class="amount">£50.00</span></td>
                                            <td class="product-stock-status"><span>in stock</span></td>
                                            <td class="product-add-to-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                               <a href="#"><img src="assets/img/products/p5.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a th:href="@{/product-details}">nice sunglass</a></td>
                                            <td class="product-price"><span class="amount">£50.00</span></td>
                                            <td class="product-stock-status"><span>in stock</span></td>
                                            <td class="product-add-to-cart"><a href="#">add to cart</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- Wish List End -->
        <footer class="footer-area bg-img" th:replace="~{layout::page_footer}"></footer>
    </div>
    <th:block th:replace="layout :: scripts"></th:block>

</body>
</html>